/* 
 * TODO: Switch to rofi, this shit sucks...
 */


* {
  font-family: "Symbols Nerd Font", "Cascadia Code";
  font-size: 13px;

  /* fuck you scoopta */
  box-shadow: none;
}

window {
  background-color: rgba(13, 27, 42, 0.950);
  border: 2px solid rgba(224, 86, 116, 0.8);
  border-radius: 10px;
  color: #f4cac3;
}

#input, #entry, #expander-box {
  background-color: transparent;
}

/* 
scrollbar, trough {
  border: none;
  background-color: transparent;
}

slider {
  box-shadow: none;
  border-radius: 0px;
}
*/

#input {
  border: none;
  border-bottom: 2px solid rgba(224, 86, 116, 0.8);
  border-radius: 0px;
  color: #e27b8b;
}


#input image {
  border: none;
  color: #e27b8b;
}

/* stupid hack */
/* #input > image.left {
  -gtk-icon-transform:scaleX(0);
} */

#scroll {
  margin: 3px 0px;
}

#entry {
  padding: 2px 5px;
  outline: none;
}

#entry:selected #text {
  color: #e27b8b;
}
